.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #064e3b; // verde
  color: white;

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: 500;

      &.active {
        border-bottom: 3px solid #10b981;
      }
    }
  }

  .admin-btn {
    background: #0d9488;
    padding: .5rem 1rem;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
}
