services:
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend

  fastapi_app:
    build: .
    container_name: fastapi_app
    restart: on-failure
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env  
    environment:
      DATABASE_URL: "mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/${MYSQL_DATABASE}"
    volumes:
      - .:/app
      - ./wait_for_db.sh:/app/wait_for_db.sh
    command: ["bash", "./wait_for_db.sh", "db", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    networks:
      - backend


  frontend:
    build:
      context: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - fastapi_app
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production
      - CHOKIDAR_USEPOLLING=true
    networks:
      - backend

volumes:
  mysql_data:

networks:
  backend:
